@model Example19.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h2>@ViewData["Title"]</h2> 
 
<form asp-action="Edit"> 
    <div class="form-horizontal"> 
        <h4>Edit</h4> 
        <hr /> 
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
        <input type="hidden" asp-for="ID" />
        <div class="form-group"> 
            <label asp-for="UserName" class="col-md-2 control-label"></label> 
            <div class="col-md-10"> 
                <input asp-for="UserName" class="form-control readonly" readonly="readonly" />
            </div> 
        </div> 
        <div class="form-group"> 
            <label asp-for="Email" class="col-md-2 control-label"></label> 
            <div class="col-md-10"> 
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div> 
        </div> 
        <div class="form-group"> 
            <label asp-for="SelectedRoles" class="col-md-2 control-label"></label> 
            <div class="col-md-10"> 
                @foreach (var item in Model.AllRoles)
                {
                    <div>
                        @if (item.Selected)
                        {
                            <input type="checkbox" name="SelectedRoles" value="@item.Value" checked="checked" class="checkbox-inline" />
                        }
                        else
                        {
                            <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline" />
                        }

                        <label class="control-label">@item.Text</label> 
                    </div>
                }
            </div> 
        </div> 
        <div class="form-group"> 
            <div class="col-md-offset-2 col-md-10"> 
                <input type="submit" value="Save" class="btn btn-default" /> 
            </div> 
        </div> 
    </div> 
</form> 
 
<div> 
    <a asp-action="Index">Back to List</a> 
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial");
}